<link rel="stylesheet" href="/stylesheets/footer.css">
<div class="footer">

    <!-- Switch -->
    <div class="switch" id="darkModeSwitch">
      <p>Dark mode</p>
      <label>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>

</div>

<script>
  // Dark/light mode
  document.addEventListener('DOMContentLoaded', function() {

  const darkModeSwitch = document.querySelector('.switch input[type="checkbox"]');
  if (localStorage.getItem('darkMode') === "true") {
    darkModeSwitch.checked = true;
  }

  function toggleDarkMode() {
    const isDarkMode = darkModeSwitch.checked;
    localStorage.setItem('darkMode', isDarkMode);
    applyDarkModeStyles(isDarkMode);
  }

  function applyDarkModeStyles(isDarkMode) {
    const stylesheetLink = document.getElementById('headStylesheet');
    const darkModeStylesheet = '/stylesheets/darkMode.css';
    const lightModeStylesheet = '/stylesheets/lightMode.css';
    stylesheetLink.href = isDarkMode ? darkModeStylesheet : lightModeStylesheet;
  }

  darkModeSwitch.addEventListener('change', toggleDarkMode);
  });
</script>