<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>

    <!-- Switch -->
    <div class="switch" id="theme-switch">
      <p>Dark mode</p>
      <label>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>

  </footer>

<script>
// Dark/light mode
document.addEventListener('DOMContentLoaded', function() {

  // Change Theme Setting with a Switch
  const currentTheme = localStorage.getItem('theme');
  const switchElem = document.querySelector('#theme-switch');
  const switchCheckbox = switchElem.querySelector('input');
  const likeButtonElement = document.getElementById('likeButton');

  const toggleTheme = () => {
    if (switchCheckbox.checked) {
      // Dark Theme
      document.documentElement.setAttribute('theme', 'dark');
      localStorage.setItem('theme', 'dark');
    } else {
      // Light Theme
      document.documentElement.setAttribute('theme', 'light');
      localStorage.setItem('theme', 'light');
    }
    // Update the votes after the color has resetted at the question page
  };

  if (switchElem) {
    // Load
    if (currentTheme === "dark") {
      switchCheckbox.checked = true;
    } else {
      switchCheckbox.checked = false;
    }

    // Change
    switchElem.addEventListener('click', e => {
      e.preventDefault();
      switchCheckbox.checked = !switchCheckbox.checked;
      toggleTheme();
    });

    // Handle initial theme setting
    toggleTheme();
  }
});
</script>