<!-- views/layout.ejs -->
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/head.css">
  <% if (stylesheet) { %>
    <link rel="stylesheet" href="<%= stylesheet %>">
  <% } %>
  
  <!-- Poppins font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins&display=swap" rel="stylesheet">
  
  <!-- Global colors -->
  <link rel="stylesheet" href="/stylesheets/globalColors.css">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Get icons  -->  
  

</head>
