<head>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">

            <a href="/" class="brand-logo">Codebook</a>
            <a href="#" class="sidenav-trigger right" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
    
            <ul class="right hide-on-med-and-down">
                <li><a href="/" id="homeBtn">Home</a></li>
                <li><a href="/logout" id="logoutBtn">Log out</a></li>
                <li><a href="/profile" id="profileBtn"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="/" id="homeBtn" style="font-size: 28px;"><i class="material-icons">home</i>Home</a></li>
        <li><a href="/profile" id="profileBtn" style="font-size: 28px;"><i class="material-icons">account_circle</i>Profile</a></li>
        <li><a href="/logout" id="logoutBtn" style="font-size: 28px;"><i class="material-icons">exit_to_app</i>Logout</a></li>
    </ul>
      
    <script>
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });
    </script>
</body>
