<%- include("./partials/head", { title: "Log in", stylesheet: "/stylesheets/login.css" }) %>

<body>
  <%- include("./partials/navbar") %>


  <div class="loginContainer">
    <!-- Login Form -->
    <form action="/login" method="POST" class="col s12">
      <h4 id="formTitle">Log in</h4>

      <!-- Email Form -->
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" id="email" name="email">
        <label for="email">Email</label>
      </div>

      <!-- Password -->
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="password" name="password">
        <label for="password">Password</label>
      </div>

      <% if (typeof messages == 'object' && messages && messages.error) { %>
        <div class="error">
          <%= messages.error %>
        </div>
      <% } %>

      <button type="submit" class="btn blue">Log in</button>
    </form>
  </div>
</body>
