
:root[theme='dark'] {
  --primary-color: #2a2a2a;
  --secondary-color: #222222;
  --accent-color: #5daed3;
  --accent-color-light: #6ecaf5;
  --accent-color-dark: #4e87a1;
  --font-color: white;

  * {
    color: var(--font-color);
  }
  
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  /* Background */
  body {
    background-color: var(--primary-color) !important;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  /* Navbar */
  nav {
    background-color: var(--secondary-color) !important;
  }
  
  /* Footer */
  footer {
    background-color: var(--secondary-color);
    margin-top: 5vh;
  }
  
  /* Buttons */
  .btn,
  .btn-floating,
  .btn-large,
  .btn-small {
    background-color: var(--accent-color);
    border-radius: 8px !important;
    transition: background-color 0.4s ease !important;
    font-weight: bold;
  }
  
  .btn:hover,
  .btn-floating:hover,
  .btn-large:hover,
  .btn-small:hover {
    background-color: var(--accent-color-dark) !important;
  }
  
  .card-content {
    border: 1px solid #ccc;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    background-color: var(--secondary-color);
  }
  
  #title {
    font-size: 1.4rem;
    color: var(--accent-color-light) !important;
  }
  
  #authorizationContainer * {
    color: white;
  }
  
  /* Common styles for input fields on focus */
  .input-field input:focus + label {
    color: var(--accent-color-light) !important;
  }
  
  .input-field input:focus {
    border-bottom: 1px solid var(--accent-color-light) !important;
    box-shadow: 0 1px 0 0 var(--accent-color-light) !important;
  }
  
  .input-field .prefix.active {
    color: var(--accent-color-light) !important;
  }
  
  .input-field label {
    color: #c7c7c7 !important;
  }

  .pagination a.active {
    background-color: var(--accent-color-light) !important;
  }
}