* {
    font-size: 0.9rem;
}

#author, #tags {
    font-size: 1rem;
}

#title {
    font-size: 1.4rem;
}

#questionBtn {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto; 
  margin-bottom: 20px;
}

#votesAndViews > .votes {
  margin-right: 10px;
}

.pageContainer {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

.card-content {
  border: 1px solid #ccc;
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
