* {
    font-size: 0.9rem;
}

#author, #tags {
    font-size: 1rem;
}

#title {
    font-size: 1.4rem;
}

#questionBtn {
    margin: 20px;
}

.pageContainer {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.card-content {
    margin: 0px;
    padding: 10px !important;
}

.row {
    max-width: 1000px;
}
