* {
    font-size: 12px;
}

#author, #tags {
    font-size: 14px;
}

#title {
    font-size: 20px;
}

#post {
    font-size: 24px;
}

.pageContainer {
    margin: 20px;
}

#questionBtn {
    margin: 20px;
}

.card-content {
    margin: 0px;
    padding: 10px !important;
}

.row {
    max-width: 1000px;
}