.pageContainer {
  margin: auto;
  margin-top: 20vh;
  border-radius: 8px;
  border: 2px solid black;
  width: 80vw;
  max-width: 400px;
  padding: 30px;
}

button {
  width: 100%;
}

#formTitle {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}