.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

#loginBtn, #signUpBtn, #homeBtn, #logoutBtn, #profileBtn {
  font-size: 1.4rem;
}

.sidenav {
  width: 180px;
  i {
    margin: 0 !important;
    margin-right: 10px !important;
  }
}
