.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

#loginBtn, #signUpBtn, #homeBtn, #logoutBtn, #profileBtn {
  font-size: 1.4rem;
}

.sidenav {
  background-color: var(--secondary-color);
  width: 180px;
  i {
    margin: 0 !important;
    margin-right: 10px !important;
  }
}

.sidenav a i.material-icons {
  color: var(--font-color) !important;
}

a {
  color: var(--font-color) !important;
}