label, textarea, input {
    font-size: 1.4rem !important;
}

input {
    font-size: 2rem !important;
}

div {
    margin-bottom: 15px;
}

/* label underline focus color */
#question:focus, #title:focus {
    border-bottom: 1px solid var(--accent-color-light) !important;
    box-shadow: 0 1px 0 0 var(--accent-color-light) !important;
}

textarea {
    width: 100% !important;
    min-height: 200px;
}

.pageContainer {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

h4 {
    margin-bottom: 30px !important;
    color: var(--font-color-2)
}

