* {
    font-size: 16px;
}

.pageContainer {
    margin: 2vh;
}

.votes {
    margin-top: 20px;
}

.postMetadata {
    margin-bottom: 20px;
}

.buttonContainer {

    align-items: center;

    margin-top: 20px;
}

.buttonContainer p,
.buttonContainer a {
    margin-top: 2px;
    margin-right: 8px; /* Adjust as needed for the desired percentage spacing */
}


