* {
    font-size: 1rem;
}

.pageContainer {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.card-content {
    margin: 0px;
    padding: 10px !important;
    border: 1px solid #ccc;
}

.row {
    max-width: 1000px;
}

.votes {
    margin-top: 20px;
}

.buttonContainer {
    align-items: center;
    margin-top: 20px;
    display: inline-block;
}

.buttonContainer p,
.buttonContainer a,
.buttonContainer button {
    margin-top: 2px;
    margin-right: 8px;
}



textarea {
  width: 100% !important;
  min-height: 100px;
}

#answerForm {
    margin-top: 40px;
}

#answer {
    width: 100%;
    height: 2000px !important;
}