.pageContainer {
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
  border: 2px solid black;
  width: 80vw;
  max-width: 400px;
  padding: 30px;
}

#formTitle {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

button {
  width: 100%;
}
  /* Styles specific to devices with a screen width of 600 pixels or less */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Example: Reduce font size for smaller screens */
  }
}