/* public/stylesheets/login.css */

p {
  font-size: 12px;
  color: gray
}

.signUpContainer {
  margin: auto;
  margin-top: 25vh;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid black;
  width: 400px;
  padding: 30px;
}

#formTitle {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

button {
  width: 100%;
}